@page "/user/add"
@page "/user/edit/{userId}"
@inherits AddEditUserDataModel


<h1>@Title User</h1>
<hr />

<EditForm Model="@userWithRoles" OnValidSubmit="SaveUser">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Last Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="userWithRoles.User.LastName" />
        </div>
        <ValidationMessage For="@(() => userWithRoles.User.LastName)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">First Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="userWithRoles.User.FirstName" />
        </div>
        <ValidationMessage For="@(() => userWithRoles.User.FirstName)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">User Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="userWithRoles.User.UserName" />
        </div>
        <ValidationMessage For="@(() => userWithRoles.User.UserName)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Email</label>
        <div class="col-md-4">
            <input class="form-control" @bind="userWithRoles.User.Email" />
        </div>
        <ValidationMessage For="@(() => userWithRoles.User.Email)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
    <div class="form-group">
        @foreach (var role in editableRoles)
        {
            <div class="checkbox">
                <label>
                    <InputCheckbox @bind-Value="@role.Selected"></InputCheckbox>
                    @role.Name
                </label>
            </div>
        }
    </div>
</EditForm>